@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --cor_primaria:#1a4319;
    --cor_secundaria:#f6f6f6;
    --cor_terciaria: black;
    --font_judson: "Judson", serif;
    --font_poppins:"Poppins", sans-serif;
    --font_dm_sans:"DM Sans", sans-serif;
}
html {
    scroll-behavior: smooth; 
    scroll-padding-top: 80px; 
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor_secundaria);
    box-sizing: border-box;
}


.header {
    position: fixed; 
    z-index: 10;
    top: 0;         
    left: 0;       
    width: 100%;     
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 1%;  
    background-color: #f0f0f0;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-bottom: 2px solid #1a4319; 
    
}

.header_title {
    font-family: var(--font_judson);
    color: var(--cor_primaria);
    font-size: 2rem;
    letter-spacing: 0.4rem;
}
.header_menu_header{
    display: flex;
    gap:3.5rem;
}

.header_menu_header_link {
    font-family: var(--font_poppins);
    text-decoration: none;
    color: var(--cor_terciaria);
    padding: 0%;
    /* margin-bottom: 5px solid var(--cor_secundaria); */
}

.main {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 4% 13%;
}

.main_section_one {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 50%;
    text-align: center;
}

.effect_title {
    padding: 2% 10%;
    font-family: var(--font_judson);
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    color: var(--cor_primaria);
    text-align:center;
}


.big_green_box {
    display: block;
    width: 50vw;
    height: 60vh;
    background-color: var(--cor_primaria);
    columns: 2;

}

.orcament {
    text-align: center;
    font-size: 1.1rem;
    padding:5%;
    font-family: var(--font_dm_sans);
    border: 0.2rem solid var(--cor_primaria);
    border-radius: 0.3rem;
    background-color: #1a4319;
    color: #f6f6f6;
    cursor: pointer;
}

.body_title {
    font-family: var(--font_dm_sans);
    font-size: 36px;
    font-weight: bold;
    color: var(--cor_terciaria);
    text-align: right;
    display: flex;
    columns: 2;
}


.box {
    width: 50%;

}

.main_img {
    width: 125%;
    margin: 5% 3% 1% 1%;
    /* padding: 10% 3% 1% 1%; */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    
}

.header_menu_header_link:hover {
    font-weight: 600;
    font-size: 17px ;
    border-bottom: 2px solid var(--cor_primaria);
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    overflow: auto; 
}


.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid var(--cor_primaria); 
    width: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
    max-width: 600px; 
}


.modal-header {
    font-family: var(--font_judson);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--cor_primaria); 
    padding-bottom: 10px;
}


.close {
    color: rgb(63, 58, 58);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0.8rem;
    right: 1rem; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


.formulario {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.formulario label {
    font-size: 1rem;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box; 
    margin-top: 0.5rem;
}

.formulario input[type="text"],
.formulario input[type="email"] {
    height: 20px;
}

.formulario textarea {
    min-height: 100px;
    resize: vertical; 
}

.formulario button {
    padding: 12px 20px;
    background-color: var(--cor_primaria);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: darken(var(--cor_primaria), 10%);
}

