@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor_primaria: #1a4319;
    --cor_secundaria: #f6f6f6;
    --cor_terciaria: black;
    --font_judson: "Judson", serif;
    --font_poppins: "Poppins", sans-serif;
    --font_dm_sans: "DM Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: var(--cor_secundaria);
    padding: 20px; 
}

.main {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
}

.about_section_one {
    width: 50%;
    padding: 1%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 2rem; 
}

.about_section_one_title {
    text-align: center; 
    font-size: 2.2rem;
    width: 80%; 
    font-family: var(--font_judson);
}

.about_section_one_paragraph {
    text-align: center;
    font-family: var(--font_poppins);
    font-size: 1rem;
    color: var(--cor_terciaria);
    max-width: 600px;
    width: 90%;
}
.green_square {
    width: 35rem; 
    height: 18rem; 
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--cor_primaria); 
}
